<div class="container">
    <div>
        <h3>Thông tin người dùng</h3>
        <hr />
    </div>

    <div class="row mb-3">
        <label class="col-sm-1">Mật khẩu:</label>
        <div class="col-sm-10">
            <a class="text-decoration-none">Đổi mật khẩu</a>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-1">Địa chỉ:</label>
        <div class="col-sm-10">
            <a class="text-decoration-none" asp-action="Create" asp-controller="Address">Chỉnh sửa địa chỉ</a>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-1">Đơn hàng:</label>
        <div class="col-sm-10">
            <a class="text-decoration-none" asp-action="HistoryOrder" asp-controller="Order">Xem lịch sử mua hàng</a>
        </div>
    </div>
</div>