<h1>Tạo sản phẩm</h1>
    <label>Tên</label>
    <div>
        <input type="text" id="nameProduct"/>
    </div>
    <label>Mô tả</label>
    <div>
        <textarea id="descriptionProduct"></textarea>
    </div>
    <div>
        <label>Khả dụng</label>
        <input type="checkbox" id="availabilityProduct"/>
    </div>
    <label>Ảnh</label>
    <div>
        <input type="file" id="imageProduct"/>
    </div>
    <button onclick="createProduct()">Tạo</button>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/product.js"></script>