@model ResetPasswordViewModel
<h1>Reset Password</h1>
<form asp-action="ResetPassword" asp-controller="Account" method="post">
    <input asp-for="Code" hidden value="@ViewData["Code"]" />
    <label asp-for="Email"></label>
    <div>
        <input asp-for="Email" value="@ViewData["Email"]" readonly="readonly"/>
    </div>
    <label asp-for="Password"></label>
    <div>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <label asp-for="ConfirmPassword"></label>
    <div>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="mt-2">
        <input type="submit" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}