@model CategoryViewModel

<div class="d-flex ">
    <div>
        <h5>Danh mục</h5>
        <ul>
            <li><a class="text-decoration-none" asp-action="ProductPages" asp-controller="Products">Tất cả sản phẩm</a></li>
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a class="text-decoration-none" asp-action="ProductPages" asp-controller="Products" asp-route-categoryId="@category.Id" >@category.Name</a>

                    @if (category.ChildCategories.Any())
                    {
                        @Html.Partial("_Subcategories", category.ChildCategories)
                    }
                </li>
            }
        </ul>
    </div>
</div>