@model CategoryViewModel

<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
    <li><a class="dropdown-item" asp-action="ProductPages" asp-controller="Products">Tất cả sản phẩm</a></li>

    @foreach (var category in Model.Categories)
    {
        <li>
            <a class="dropdown-item" asp-action="ProductPages" asp-controller="Products" asp-route-categoryId="@category.Id" >@category.Name</a>

            @if (category.ChildCategories.Any())
            {
                @Html.Partial("_Subcategories", category.ChildCategories)
            }   
        </li>
    }
</ul>